body {
    table{
             width:100%
         }

    th, td
{
    border: 1px solid #999;
    padding: 0.5rem;
}
}
table, td {
    border: 2px dashed rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
}
table {
    border-spacing: 5px;
}
ul {
    list-style-type: square;
}
