
@{
    ViewData["Title"] = "ContactUs";
}

<h1>تماس باما</h1>
<hr/>
<div class="row>
    <div> class="col-md-3"></div>
  <div class="card-header">راه های تماس باما</div>
  <div class="card-body">
    <h5 class="card-title">ارطبات با ما</h5>
    <p class="card txet">نام و نام خانوادگی:نیلا وثوق زاده</p>
    <p class="card txet">شماره:09120273410</p>
    <p class="card txet">قوانین:</p>
  </div>
</div>
    <div class="col-md-3"></div>
</div>


