@page
@model ItShop.Pages.Admin.AddModel
@{
	ViewData["Title"] = "Add";
}

<h1>افزودن کالا</h1>
<hr />
<form method="post" enctype="multipart/form-data">
	<dl class="dl-horizontal">
		<dd>
			<label asp-for="Name">
				اسم
			</label>
		</dd>
		<dt>
			<input asp-for="Product.Name" class="form-control"/>
			<span asp-validation-for="Product.Name"></span>
		</dt>
		<dd>
			<label asp-for="Product.Description">
				توضیحات
			</label>
		</dd>
		<dt>
			<textarea asp-for="Product.Description" class="form-control"></textarea>
			<span asp-validation-for="Product.Description"></span>
		</dt>
		<dd>
			<label asp-for="Product.Price">
				قیمت
			</label>
		</dd>
		<dt>
			<input asp-for="Product.Price" class="form-control"/>
			<span asp-validation-for="Price"></span>
		</dt>
		<dd>
			<label asp-for="Product.Quantityinstock">
				تعداد
			</label>
		</dd>
		<dt>
			<input asp-for="Product.Quantityinstock" class="form-control"/>
			<span asp-validation-for="Product.QuantityInstock"></span>
		</dt>
		<dd>
			<label asp-for="Product.Picture">
				عکس
			</label>
		</dd>
		<dt>
			<input asp-for="Product.Picture" type="file" class="form-control"/>
			<span asp-validation-for="Product.Picture"></span>
		</dt>
	<dl/>

	<input type="submit"  class = "bt" value="ثبت" />
</form>
